---
import BaseLayout from '../layouts/BaseLayout.astro';
import ProjectCard from '../components/ProjectCard.astro';
import SkillIcon from '../components/SkillIcon.astro';
import type { ProjectData } from '../types/ProjectData';
import GithubBtn from '../components/GithubBtn.astro';
const projects = await Astro.glob<ProjectData>('../pages/projects/*.mdx');
import skillList from '../skillList';
---

<BaseLayout title="Daniels Alksnis">
  <main class="mx-auto w-full p-4 pt-12 lg:w-[1000px]">
    <h1 class="text-2xl text-gray-400">
      Hi, I'm<span class="block translate-x-[-2px] text-5xl text-gray-100"
        >Daniels Alksnis</span
      >I like to make things :)
    </h1>
    <GithubBtn
      url="https://github.com/deimoss123"
      className="mt-6"
      text="My GitHub"
    />
    <div class="mt-6 flex flex-wrap gap-2">
      {
        Object.values(skillList).map(({ name, iconName }) => (
          <SkillIcon name={name} iconName={iconName} size={32} />
        ))
      }
    </div>
    <h2 class="my-8 border-b border-gray-500 pb-2 text-3xl">My Projects</h2>
    <div class="flex flex-col gap-8">
      {
        [...projects]
          .sort((a, b) => a.frontmatter.position - b.frontmatter.position)
          .map(project => <ProjectCard data={project} />)
      }
    </div>
  </main>
</BaseLayout>
