---
import { Icon } from 'astro-icon';
---

<a
  href="/"
  class="flex max-w-fit items-center text-gray-400 transition-[color] hover:text-gray-300"
>
  <Icon
    pack="ic"
    name="round-chevron-left"
    class="ml-[-0.5rem] mr-[-0.25rem] w-8"
  />
   Go back
</a>
