---
interface Props {
  url: string;
  text?: string;
  className?: string;
}

const { url, text, className } = Astro.props;

import { Icon } from 'astro-icon/components';
---

<a
  href={url}
  target="_blank"
  class=`flex max-w-fit items-center gap-1 text-xl text-gray-400 transition-[color] hover:text-gray-300 ${className ?? ''}`
>
  <Icon name="mdi:github" width="32" height="32" />{text || "GitHub"}
</a>
